/**
 * Import Google Fonts.
 */
@import url('https://fonts.googleapis.com/css?family=Teko|Noto+Sans|Source+Sans+Pro:300,400,600');

/* TODO: add SASS for this */

/**
  * Custom Properties for keeping the CSS 'DRY'!
  */
:root {
    --background-color: #fff;
    --color-blue: hsl(210, 88%, 56%);
    --color-grey: hsl(213, 30%, 29%);
    --color-grey-light: hsl(213, 30%, 59%);
    --color-grey-lighter: hsl(213, 30%, 79%);
    --color-orange: hsl(34, 26%, 89%);
    --color-orange-dark: hsl(34, 76%, 89%);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}
 */